<h3>School Class</h3>

<label>Class Title:</label>
<%= @school_class.title %>
<br>
<br>
<label>Room Number:</label>
<%= @school_class.room_number %>
<br>
<br>
<%= link_to "INDEX", school_classes_path %>